.event-log {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow-y: auto;
    margin-top: 32px;
    font-size: 9px;
    padding: 12px;
    padding-top: 0;
}
.grid {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: "time message extra";
}
.time {
    grid-area: time;
}
.message {
    grid-area: message;
}
.extra {
    grid-area: extra;
}