<div class="dialog">
    <p>Select a widget</p>
    <select size="5">
        <option>Pie chart widget</option>
        <option>Bar chart widget</option>
        <option>Line chart widget</option>
        <option>Sensor widget</option>
        <option>...</option>
    </select>

    <p>Select packet</p>
    <select size="5">
        <ng-container *ngFor="let packet of projectPackets">
            <option [value]="packet.id">{{packet.name}}</option>
        </ng-container>
    </select>

    <button class="button-close" (click)="close()">X</button>
</div>
