
ok<button (click)="addRole()">ADD ROLE</button>
<br>
ok<button (click)="addDefaultRole()">ADD DEFAULT USER ROLE</button>
<br>
ok<button (click)="grant()">Grant user permission on a given role and resource</button>
<br>
ok<button (click)="addUserProject()">Add user project</button>
<br>
ok<button (click)="addUserDevice()">Add user device</button>
<br>
ok<button (click)="addDevicePacket()">Add a device packet</button>
<br>
ok<button (click)="updatePacketFields()">Update packet fields</button>
<br>
ok<button (click)="addRule()">Add rule definition for a packet/project</button>
<br>
ok<button (click)="updateRule()">update rule</button>
<br>
<br>
ok<button (click)="getAllUsers()">getAllUsers</button>
<br>
ok<button (click)="getAllRoles()">getAllRoles</button>
<br>
ok<button (click)="getAllPermissions()">getAllPermissions</button>
<br>
ok<button (click)="getAllProject()">getAllProject</button>
<br>
ok<button (click)="getAllDevices()">getAllDevices</button>
<br>
ok<button (click)="getAllPackets()">getAllPackets</button>
<br>
ok<button (click)="getAllRules()">getAllRules</button>
<br>
<br>
ok<button (click)="deleteRole()">deleteRole</button>
