:host {
    display: block;
    height: 100vh;
}

gridster {
    background: transparent;
    height: 100vh;
}
gridster-item {
    background: transparent;
    height:200px;
    border: solid 4px red;
}